@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}