.movie-thumbnail{
    width: 250px;
    margin: 10px;
    height: 98vh;
}

.movie-overview{
    height: 80px;
    overflow-x: hidden;
    overflow-y: auto;
}

.movie-image{
    height: 240px;
    
}

.movie-header{
    height: 70x;
}

.movie-overview::-webkit-scrollbar {
    width: 2px;
    background: gray;
}

.movie-actions{
    text-align: center;
}